h1
{
  text-align: center;
  font-size: 50px;
  margin-top: 0.5em;
}
.corps{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgResume
{
  margin-top: 1em;
  display: flex;
  justify-content: center;
  width: 80%;
}
.image{
  margin-right: 20px;
}
.sub-title{
  font-size: 20px;
  font-weight: bold;
}
.resume{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  font-size: 20px;
}
.date{
  display: flex;
  justify-content: center;
}
