<h1>{{film.title}}</h1>
<div class="corps">
  <div class="imgResume">
    <div class="image">
      <img src="https://image.tmdb.org/t/p/w500{{film.backdrop_path}}"/>
    </div>
    <div class="resume">
      <p class="sub-title">Overview:</p>
      <p>{{film.overview}}</p>
    </div>
  </div>
  <div class="date">
    <div class="sub-title">Release Date: {{film.release_date| date:'dd/MM/YYYY'}}</div>
   </div>
</div>


